.card__title {
  padding: 0;
  margin: 0 auto 16px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", Arial, sans-serif;
}
.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.card__list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.card__list-divider {
  border-bottom: 1px black solid;
  flex-grow: 1;
}
