.menu {
  background: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__title {
  padding: 0;
  margin: 0;
  max-width: 780px;
  margin-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  padding: 0;
  margin: 0;
  max-width: 780px;
  margin-bottom: 100px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.menu__cards {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  list-style-type: none;
}
.menu__card {
  margin: 0;
  width: 540px;
}
